{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
             <div class="col-md-3">

                  <img src="{{movie.img.url}}" width="200" height="200">

             </div>
                <div class="col-md-3">
                      <h6>{{movie.name}}</h6>
                      <h4>{{movie.desc}}</h4>
                      <h6>{{movie.year}}</h6>
                      <a class="btn btn-warning" href="{% url 'movieapp:update' movie.id %}">update</a>
                       <a class="btn btn-danger" href="{% url 'movieapp:delete' movie.id %}">Delete</a>
               </div>
    </div>
</div>
{% endblock %}